.home-content {
  width: 85%;
  height: 90%;
  text-align: left;
  margin-right: 20%;
  margin-top: -20%;
}

.first-line {
  font-size: 1.15rem;
  margin-top: 20%;
  margin-bottom: -3%;

  text-align: left;
  color: #ffcc68;
  font-family: 'Courier New', monospace;
}

.second-line {
  font-size: 4rem;

  max-width: 45rem;
  margin-bottom: -5%;

  font-weight: bolder;
  text-align: left;
  line-height: 1;

  color: white;
  font-family: Helvetica;
}

.third-line {
  font-size: 4rem;
  max-width: 45rem;
  line-height: 1.25;
  margin-bottom: 3%;

  font-weight: bold;
  text-align: left;

  color: #adb2dc;
  font-family: Helvetica;
}

.bio {
  max-width: 45rem;

  font-size: 1.25rem;
  text-align: left;
  line-height: 1.5;

  color: #adb2dc;
  font-family: Helvetica;
}
